header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
}

h1 {
  color: #034694;
  font-weight: bold;
  font-size: 30px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.item-container {
  background-color: #e7ecf0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: center;
  color: #034694;
}

.item-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit {
  position: fixed;
  bottom: 5px;
  text-align: center;
}

.buy_button {
  padding: 10px 20px;
  background-color: #034694;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.buy_button:hover {
  background-color: #4e6151;
}

/* Styling the admin panel link */

.container-panel a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
}

.container-panel a:hover {
  text-decoration: underline;
}
