body {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 10px;
}

#decor {
  position: absolute;
  width: 100px;
}

h1 {
  color: #034694;
  font-weight: bold;
  font-size: 30px;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  width: calc(25% - 10px);
  box-sizing: border-box;
  text-align: center;
  color: #034694;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #d3d3d3;
}
.container-panel {
  display: flex;
  gap: 20px;
}
.item-container img {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid #d3d3d3;
}
.description h2 {
  grid-column: 1 / -1;
}

.description .quantity {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.description .quantity input {
  width: 70px;
  padding: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  color: #034694;
}

.description .details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}

.description .details span {
  font-size: 0.9rem;
}

.submit {
  position: fixed;
  bottom: 5px;
  text-align: center;
}

.buy_button {
  padding: 10px 30px;
  background-color: #034694;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0px 20px rgba(33, 33, 33, 0.8);
}

.buy_button:hover {
  background-color: #1a69c3;
}

.container-panel a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
}

.container-panel a:hover {
  text-decoration: underline;
}

.transaction-container {
  align-self: center;
  justify-self: center;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 50%;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.transaction-container table {
  width: 80%;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  text-align: center;
}
.transaction-container tbody td,
th {
  padding: 10px;
  border: 1px solid #d3d3d3;
}
