/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #034694;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
}

/* Container for the items */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Flexbox container for items */
.items-container {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping for small screens */
    gap: 20px;  /* Add space between items */
    justify-content: space-between;  /* Evenly space items */
}

/* Individual item container */
.item-container {
    background-color: #E7ECF0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: calc(33.333% - 20px);  /* 3 items per row, with space between */
    box-sizing: border-box;
    text-align: center;
    color: #034694;
}


/* Image inside the item */
.item-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Submit button styling */
.submit {
    margin-top: 20px;
    text-align: center;
}

.buy_button {
    padding: 10px 20px;
    background-color: #034694;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buy_button:hover {
    background-color: #4E6151;
}

/* Styling the admin panel link */
.AdminPanel {
    margin-bottom: 20px;
}

.AdminPanel a {
    color: #007BFF;
    text-decoration: none;
    font-size: 18px;
}

.AdminPanel a:hover {
    text-decoration: underline;
}
