<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>TCP/IP</title>
  </head>
  <body>
    <h1><u>The OSI Model</u></h1>
    <div class="main-container">
      <h2>
        The OSI Model (Open Systems Interconnection) is a framework that
        standardizes how devices communicate over a network by dividing the
        process into 7 layers. Each layer handles a specific aspect of
        communication.
      </h2>
      <div class="sub-container">
        <ul>
          <li>
            <b>Physical Layer</b>: Transmits raw bits over a physical medium
            (e.g., cables, wireless).
          </li>
          <li>
            <b>Data Link Layer</b>: Ensures error-free data transfer between
            directly connected devices.
          </li>
          <li>
            <b> Network Layer</b>: Handles routing and addressing (e.g., IP
            addresses).
          </li>
          <li>
            <b>Transport Layer</b>: Ensures reliable data delivery (e.g.,
            TCP/UDP).
          </li>
          <li>
            <b>Session Layer</b>: Manages and controls communication sessions.
          </li>
          <li>
            <b>Presentation Layer</b>: Formats and translates data (e.g.,
            encryption, compression).
          </li>
          <li>
            <b>Application Layer</b>: Interfaces directly with user applications
            (e.g., HTTP, DNS).
          </li>
        </ul>
        <img src="../static/images/image 1.png" alt="OSI model" />
      </div>
      <h2>Importance of the OSI Model:</h2>
      <ul>
        <li>
          <b>Standardization</b>: Provides a universal language for network
          communication, ensuring compatibility between devices from different
          manufacturers.
        </li>
        <li>
          <b>Troubleshooting</b>: Helps isolate network issues by focusing on
          specific layers.
        </li>
        <li>
          <b>Scalability</b>: Makes it easier to design and expand complex
          network systems.
        </li>
        <li>
          <b>Modularity</b>: Allows updates and improvements in one layer
          without affecting others.
        </li>
      </ul>
    </div>
  </body>
</html>
