* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
b {
  font-weight: 500; /* Bold */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: linear-gradient(90deg, #283c86, #2f0a32);
}
.main-container {
  padding: 30px;
  width: 80%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 45px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.sub-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
ul {
  line-height: 200%;
}
