<!DOCTYPE html>
<html>
<head>
    <title>Matrix Calculator</title>
</head>
<body>
    <h1>Matrix Calculator</h1>
    <p>Group Number: 15 </p>
    <p>Michelle Rudinsky's ID - 211565858 <br>
        Miriam ID -  <br>
        Naomi Taskar's ID - 323868695 </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: red;">{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <p> to multiply </p>
    <table>
        <tr>
            <th>1</th>
            <th>2</th>
        </tr>
        <tr>
            <th>3</th>
            <th>4</th>
        </tr>
    </table>

</body>
</html>