<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAU Fashion</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_page.css') }}">
    <title>Home</title>
  </head>

  <body>
      <h1>Home</h1>
          <!-- Display messages -->
      <div class="container AdminPanel">
      {% if message %}
          <p style="color: {% if is_error %} red {% else %} green {% endif %};">{{ message }}</p>
      {% endif %}
      {% if is_admin %}
      <a href="/inventory_update/{{session['email']}}"> Admin Panel </a>
      {% endif %}
    </div>

    <form action="/" method="POST">
        <div class="items-container">
          {%for item in clothes%}
          <div class="item-container">
            <img src="{{item[5]}}" alt="item-{{item[0]}}" />
            <h2>{{item[1]}}</h2>
            <span>Price: {{item[2]}}</span>
            <span>Available: {{item[3]}}</span>
            <label for="quantity_{{ item[0] }}">Quantity:</label>
            <input name="{{item[0]}}" type="number" min="0" value="0" />
          </div>
          {% endfor %}

          <div class="submit">
            <button type="submit" class="buy_button">Buy</button>
          </div>

      </div>
    </form>
  </body>
</html>
