<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAU Fashion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+RO&family=Raleway:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home_page.css') }}"
    />
    <title>Home</title>
  </head>
  <body>
    <header>
      <img
        src="{{url_for('static' , filename='image/logo.png')}}"
        alt="logo"
        id="logo"
      />
      <h1 class="title">Home .</h1>
      <img src="../static/image/decor.png" id="decor" alt="" />
      <div class="container-panel">
        {% if is_admin %}
        <a href="/inventory_update/{{session['email']}}"> Admin Panel </a>
        {% endif %}
        <a href="/logout"> Logout </a>
      </div>
    </header>
    <form action="/" method="POST">
      <div class="items-container">
        {%for item in clothes%}
        <div class="item-container">
          <img src="{{item[5]}}" alt="item-{{item[0]}}" />
          <div class="description">
            <h2>{{item[1]}}</h2>
            <div class="quantity">
              <label for="quantity_{{ item[0] }}">Quantity:</label>
              <input
                name="{{item[0]}}"
                type="number"
                min="0"
                max="{{item[3]}}"
                value="0"
              />
            </div>
            <div class="details">
              <span>Price: {{item[2]}} ₪</span>
              <span>Available: {{item[3]}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="submit">
          <button type="submit" class="buy_button">Buy</button>
        </div>
      </div>
    </form>
  </body>
</html>
