<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admins page</title>
        <link rel="stylesheet" type="text/css" href="/static/css/inventory_page.css">
</head>
<body>
<div class="page_header">
    <img src="/static/image/logo.png" width="200" height="200">
</div>
<h3>hello username what would you like to do today?</h3>
<div>
        <!-- Display messages -->
    {% if message %}
        <p style="color: {% if is_error %} red {% else %} green {% endif %};">{{ message }}</p>
    {% endif %}
</div>
<div class="card-div">
    <h1 class="h1"> Inventory Update</h1>
    <!-- Form for updating inventory -->
    <form action="/handle_form" method="post">
    <input type="hidden" name="manager_email" value="{{ email }}" />

    <table>
        <tr>
            <p class="p"> please fill in the update details:</p>
            <th class = "labels"> Select item to update:</th>
            <td>
                <!--extracting cloth_ids from the DB -->
                <select name="cloth_id" required>
                    {% for cloth_id in cloth_ids %}
                        <option value="{{ cloth_id }}">{{ cloth_id }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th class = "labels">Select quantity:</th>
            <td>
                <input type="number" name ="quantity_to_update" required min="1">
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" name="form_id" value="Update" class="important_button">


</form>
</div>


<div class="card-div">
    <h1 class="h1"> Add New Item</h1>
    <!-- Form for Adding a new item -->
    <form action="/handle_form" method="post">
        <input type="hidden" name="manager_email" value="{{ email }}" />
    <table>
        <tr>
            <p class="p"> please fill in the details of the new item:</p>
            <th class = "labels">Cloth id:</th>
            <td>
                <input type="text" name="cloth_id" required>
            </td>
        </tr>
        <tr>
            <th class = "labels">Cloth Name:</th>
            <td>
                <input type="text" name ="cloth_name" required>
            </td>
        </tr>
        <tr>
            <th class = "labels">Cloth Price:</th>
            <td>
                <input type="number" name ="cloth_price" required min="1">
            </td>
        </tr>
        <tr>
            <th class = "labels">Available Amount:</th>
            <td>
                <input type="number" name ="available_amount" required min="1">
            </td>
        </tr>
        <tr>
            <th class = "labels">Is promoted?</th>
            <td>
                <input type="radio" name="is_promoted" value="1" required >Yes</br>
            </td>
            <td>
                <input type="radio" name="is_promoted" value="0" required >No</br>
            </td>

        </tr>
        <tr>
            <th class = "labels">Image Link:</th>
            <td>
                <input type="text" name ="img_path" required>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" name = "form_id" value="Add" class="important_button">


</form>
</div>

</body>
</html>
</body>
</html>