<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Inventory Update Success</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+RO&family=Raleway:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inventory_page.css') }}">
</head>
<body>
    <div class="message success">
        <p>{{ message }}</p>
    </div>
    <div class="new-div">
        <h2 class="title"> what would you like to do now?</h2>
            <!-- Add other content or a button to redirect back to the inventory page -->
        <a href="{{ url_for('inventory_update', email=email) }}" class="important_button">Back to Inventory Update Page</a> </br>
        <a href="{{ url_for('home')}}" class="important_button">Back to Home Page</a>
    </div>

</body>
</html>