<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Inventory Update</title>
</head>
<body>
<div>
    <h1> Inventory Update</h1>
    <!-- Display messages -->
    {% if message %}
        <p style="color: {% if is_error %} red {% else %} green {% endif %};">{{ message }}</p>
    {% endif %}

    <!-- Form for updating inventory -->
    <form action="/handle_form" method="post">
    <input type="hidden" name="manager_email" value="{{ email }}" />

    <table>
        <tr>
            <td> Select item to update:</td>
            <td>
                <!--extracting cloth_ids from the DB -->
                <select name="cloth_id" required>
                    {% for cloth_id in cloth_ids %}
                        <option value="{{ cloth_id }}">{{ cloth_id }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Select quantity:</td>
            <td>
                <input type="number" name ="quantity_to_update" required min="1">
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" name="form_id" value="Update" class="important_button">


</form>
        <!-- Display success or error messages -->
<!--    {% if message %}-->
<!--        <p style="color: green;">{{ message }}</p>-->
<!--    {% endif %}-->
<!--    {% if error %}-->
<!--        <p style="color: red;">{{ error }}</p>-->
<!--    {% endif %}-->
</div>


<div>
    <h1> Add New Item</h1>
    <!-- Form for Adding a new item -->
    <form action="/handle_form" method="post">
        <input type="hidden" name="manager_email" value="{{ email }}" />
    <table>
        <tr>
            <h5> please fill in the details of the item:</h5>
            <td>Cloth id:</td>
            <td>
                <input type="text" name="cloth_id" required>
            </td>
        </tr>
        <tr>
            <td>Cloth Name:</td>
            <td>
                <input type="text" name ="cloth_name" required>
            </td>
        </tr>
        <tr>
            <td>Cloth Price:</td>
            <td>
                <input type="number" name ="cloth_price" required min="1">
            </td>
        </tr>
        <tr>
            <td>Available Amount:</td>
            <td>
                <input type="number" name ="available_amount" required min="1">
            </td>
        </tr>
        <tr>
            <td> Is promoted?</td>
            <td>
                <input type="radio" name="is_promoted" value="1" required >Yes</br>
            </td>
            <td>
                <input type="radio" name="is_promoted" value="0" required >No</br>
            </td>

        </tr>
        <tr>
            <td>Image Link:</td>
            <td>
                <input type="text" name ="img_path" required>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" name = "form_id" value="Add" class="important_button">


</form>
</div>

</body>
</html>
</body>
</html>