<html>
   <head>
      <title>Session Exercise</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
   </head>

   <body>
        <h4 class="warning">{{message}}</h4>
        <form action="action_page.php">
          <div class="container">
                <h1>Register</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <table>
                    <tr>
                        <th><b>Name</b></th>
                        <td><input type="text" placeholder="Enter Name" name="name" required></td>
                    </tr>
                    <tr>
                        <th><b>Email</b></th>
                        <td><input type="text" placeholder="Enter Email" name="email" required></td>
                    </tr>
                    <tr>
                        <th><b>Password</b></th>
                        <td><input type="password" placeholder="Enter Password" name="password" required></td>
                    </tr>
                    <tr>
                        <th><b>Sex</b></th>
                        <td><input type="radio"  name="sex" required> Male
                            <input type="radio"  name="sex" required> Female
                        </td>
                    </tr>
                    <tr>
                        <th><b>Age</b></th>
                        <td><input type="number" name="age" placeholder="Enter Age" min="1" max="100" required> </td>
                    </tr>
                    <tr>
                        <th><b>Faculty</b></th>
                        <td><input type="text" placeholder="Enter Faculty Name" name="faculty" required></td>
                    </tr>
                </table>
                <br></b>
                <!--button type="submit" class="registration">Register</button>-->
                <input type="submit" class="registration" value="Register">Register</input>
          </div>

          <div class="container signin">
                <p>Already have an account? <a href="#">Sign in</a>.</p>
          </div>
    </form>
   </body>
</html>
