<html>
   <head>
      <title>Register</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+RO&family=Raleway:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"
    />
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register_and_login.css') }}">
   </head>

   <body>
        <img id="logo" src="{{url_for('static', filename='image/logo.png') }}" alt="">
        <form action="/register" method="post">
          <div class="container">
              <h1 class="title">Register</h1>
              {% if message %}
              <p class="{% if is_error %}error-text{% else %}success-text{% endif %}">{{ message }}</p>
                {% endif %}
                <p>Please fill in this form to create an account.</p>
                <hr>
                <table>
                    <tr>
                        <th><b>Name</b></th>
                        <td><input type="text" placeholder="Enter Name" name="name" required></td>
                    </tr>
                    <tr>
                        <th><b>Email</b></th>
                        <td><input type="email" placeholder="Enter Email" name="email" required></td>
                    </tr>
                    <tr>
                        <th><b>Password</b></th>
                        <td><input type="password" placeholder="Enter Password" name="password" required></td>
                    </tr>
                    <tr>
                        <th><b>Sex</b></th>
                        <td><input type="radio"  name="sex" required> <label for="sex">Male</label>
                            <input type="radio"  name="sex" required> <label for="sex"> Female</label>
                        </td>
                    </tr>
                    <tr>
                        <th><b>Age</b></th>
                        <td><input type="number" name="age" placeholder="Enter Age" min="1" max="100" required> </td>
                    </tr>
                    <tr>
    <th><b>Faculty</b></th>
    <td>
        <select name="faculty" id="facylty">
            <option value="Math">Math</option>
            <option value="Engineering">Engineering</option>
            <option value="Psychology">Psychology</option>
            <option value="Exact Sciences">Exact Sciences</option>
            <option value="Art">Art</option>
            <option value="Law">Law</option>
            <option value="Other">Other</option>
        </select>
    </td>
</tr>
                </table>
                <br></b>
                <!--button type="submit" class="registration">Register</button>-->
                <input type="submit" class="registration_and_login_button" value="Register">Register</input>
          </div>

            <!-- Display error message if passed from Flask -->
            {% if error %}
            <div class="error"> {{ error }}</div>
            {% endif %}

          <div class="container signin">
                <p>Already have an account? <a href="/login">Sign in</a>.</p>
          </div>
    </form>
   </body>
</html>
