<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Successful Transaction</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/global.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/home_page.css') }}"
    />
  </head>
  <body>
    <h1>Successful Transaction</h1>
    <h2>order number: <strong>{{order_num}}</strong></h2>
    <table>
      <thead>
        <tr>
          <th>SKU</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for sku, quantity in items.items() %}
        <tr>
          <td>{{ sku }}</td>
          <td>{{ quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
